body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#memory-game {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card.flipped {
    background-color: #f0f0f0; /* Couleur de fond lorsqu'une carte est retournée */
}

.card.found {
    background-color: #8aff8a; /* Couleur de fond lorsqu'une paire est trouvée */
    cursor: default;
}