<form action="{{ base }}/admin/{{ userID }}/addGroup" method="POST">
    <input class="input-group-text" name="num" type="text" placeholder="number" required>
    <input class="input-group-text" name="year" type="text" placeholder="year" required>
    <input class="input-group-text" name="sector" type="text" placeholder="sector" required>
    <input type="submit" value="Add">
</form>