<form action="index.php" method="GET">
    <input type="hidden" name="action" value="addGroup">
    <input name="num" type="text" placeholder="number" required>
    <input name="year" type="text" placeholder="year" required>
    <input name="sector" type="text" placeholder="sector" required>
    <input type="submit" value="Add">
</form>