<form action="{{ base }}/admin/{{ userID }}/addGroup" method="POST">
    <input class="input-group-text d-inline" name="num" type="text" placeholder="number" required>
    <input class="input-group-text d-inline" name="year" type="text" placeholder="year" required>
    <input class="input-group-text d-inline" name="sector" type="text" placeholder="sector" required>
    <input class="btn btn-success" type="submit" value="Add">
</form>