<form action="{{ base }}/admin/{{ userID }}/addGroup" method="GET">
    <input name="num" type="text" placeholder="number" required>
    <input name="year" type="text" placeholder="year" required>
    <input name="sector" type="text" placeholder="sector" required>
    <input type="submit" value="Add">
</form>