<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games list</title>
    <link href="{{base}}/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{base}}/assets/favicon.ico"/>
</head>

<body class="min-vh-100 d-flex justify-content-center align-items-center">
{% include 'navBar.twig' %}
<div class="w-50 d-flex flex-column gap-3">
    <a href="{{base}}/student/{{userID}}/listVocChoice?jeu=quiz">
        <input class="w-100 btn btn-primary rounded-4 fs-1" style="height: 17vh" type="button" value="Quiz"/>
    </a>
    <a href="{{base}}/student/{{userID}}/listVocChoice?jeu=memory">
        <input class="w-100 btn btn-primary rounded-4 fs-1" style="height: 17vh" type="button" value="Memory"/>
    </a>
</div>
</body>
</html>
