<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="{{base}}/css/styles.css" rel="stylesheet" />
    <style>
        body {
            margin-top: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .content {
            text-align: center;
        }

        table {
            margin-top: 20px;
        }
    </style>
</head>

<body>
{% include 'navBar.twig' %}
<div class="content">
    <section>
        <table>
            <tr>
                <td>
                    <form action="{{base}}/student/{{userID}}/listVocChoice" method="post">
                        <input type="hidden" name="jeu" value="quiz">
                        <input class="btn-list" type="submit" value="Quiz" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="{{base}}/student/{{userID}}/listVocChoice" method="post">
                        <input type="hidden" name="jeu" value="memory">
                        <input class="btn-list" type="submit" value="Memory" />
                    </form>
                </td>
            </tr>
        </table>
    </section>
</div>
</body>
</html>
