<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="section">
    <section class="VocabularyList">
        <h2>Vocab list</h2>
        {% include 'vocabularyContainer.twig' with {'actions' : 'affAllVocab', 'vocabularies' : vocabularies } %}
    </section>

    <section class="Vocabulaire">
        <h2>Vocab of the user</h2>
        {% include 'vocabularyContainer.twig' with {'vocabularies' : vocabularies , 'actions' : 'getByName', 'selectedName' : 'selectedName' } %}
    </section>

    <section class="addGroupForm">
        <h2>Add Vocab</h2>
        {% include 'addGroupForm.twig' %}
    </section>

    <section class="unassignedUsers">
        <h1>Unassigned vocab</h1>
        {% include 'vocabularyContainer.twig' with {'vocabularies' : vocabularies , 'actions' : 'delById'} %}
    </section>
</div>
</body>
</html>
