<form action="index.php" method="GET">
    <input type="hidden" name="action" value="modifyPassword">
    <input type="hidden" name="user" value={{user.id}}>
    <input type="text" name="currentPassword" placeholder="current password" required>
    <input type="text" name="newPassword" placeholder="new password" required>
    <input type="text" name="confirmNewPassword" placeholder="confirm new password" required>
    <input type="submit" value="Modify your password">
</form>