<form action="{{base}}/{{ userRole[0] }}/{{userID}}/modifyPassword" method="POST">
    <input class="input-group-text d-inline" type="text" name="currentPassword" placeholder="current password" required>
    <input class="input-group-text d-inline" type="text" name="newPassword" placeholder="new password" required>
    <input class="input-group-text d-inline" type="text" name="confirmNewPassword" placeholder="confirm new password" required>
    <input class="btn btn-danger" type="submit" value="Modify your password">
</form>