<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Quiz</title>
 <!-- Ajoutez vos liens de styles et de scripts ici -->
</head>
<body>
<section id="quiz">
 <h1>Quiz</h1>
 <div id="questionContainer">
  {% if questions is defined %}
  {% for i in 0..questions|length %}
  <form id="quizForm" method="post">
   <div class="question">
    <h2>{{ questions[i] }}</h2>
    <div class="answers">
     {% for answer in answers[i] %}
     {% if answer == goodAnswers[i] %}
     <input type="radio" name="answer" value="{{ good }}"> {{ answer }}<br>
     {% else %}
     <input type="radio" name="wrong" value="{{ wrong }}"> {{ answer }}<br>
     {% endif %}
     {% endfor %}
    </div>
   </div>
   <input type="button" value="button">
  </form>
  {% endfor %}
  {% endif %}
 </div>
</section>
</body>
</html>
