<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="{{base}}/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{base}}/assets/favicon.ico"/>
</head>
<style>
    body {
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .content {
        text-align: center;
    }

    table {
        margin-top: 20px;
    }
</style>

<body>
{% include 'navBar.twig' %}
{% if vocabularies is defined %}
<div class="content">
    <div class="border my-2 py-2 border-5 border-secondary rounded-3 text-center">
        <table class="table table-bordered">
            {% for row in vocabularies %}
                <tr>
                    <td>
                        <form action="{{base}}/student/{{userID}}/{{jeu}}" method="post">
                            <input type="hidden" name="idVoc" value="{{ row.id }}">
                            <input class="btn-list" type="submit" value="{{ row.name }}" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
</body>
</html>