@page "/editVoc/{Id:int}"
@attribute [Authorize(Roles = "teacher")]
@using adminBlazor.Models
@using Blazorise.Extensions


<h3>Edit</h3>
<h4>Voc id : @Id</h4>
@if (voc != null)
{
    <EditForm Model="@voc" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        
        <p>
            <label for="name">
                Name:
                <InputText id="name" @bind-Value="voc.Name" />
                <ValidationMessage For="@(() => voc.Name)" />
            </label>

        </p>
        
        <h4>Words:</h4>
        @if (voc.Translations.IsNullOrEmpty() == false)
        {
            foreach (var word in voc.Translations)
            {
                {
                    <div class="word-container">
                        <label>
                            First Word:
                            <InputText @bind-Value="word.FirstWord"/>
                        </label>
                        <label>
                            Second Word:
                            <InputText @bind-Value="word.SecondWord"/>
                        </label>
                    </div>
                    <button type="button" @onclick="() => RemoveWord(word)">Remove Word</button>
                }
            }
        }
        else
        {
            <p>No words</p>
        }
        <button type="button" @onclick="AddWord">Add Word</button>
        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <p>Loading...</p>
}