@page "/editVoc/{Id:int}"
@attribute [Authorize(Roles = "teacher")]
@using adminBlazor.Models


<h3>Edit</h3>
<h4>Voc id : @Id</h4>
@if (voc != null)
{
    <EditForm Model="@voc" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label for="nom">
                Name :
                <InputText id="nom" @bind-Value="voc.Name" />
            </label>
        </p>

        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <p>Loading...</p>
}