@using System.Globalization
@page "/"
@using adminBlazor.Models

<PageTitle>@Localizer["Welcome"]</PageTitle>

<h1>@Localizer["Title"]</h1>


@Localizer["indexPhrase"]

<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>

