

<div class="navbar">
    <a href="http://localhost/SAE_2A_Anglais/Project/php/#page-top">Home</a>
    <a href="/list">Users</a>
    <a href="/account">My Account</a>
    <a href="/voc">Vocabulary Lists</a>
</div>


@code {
    private bool isNavMenuVisible = false;

    private string navMenuStyle => isNavMenuVisible ? "display: flex;" : "display: show;";

    private void ToggleNavMenu()
    {
        isNavMenuVisible = !isNavMenuVisible;
    }
}